<header class="site-header">
  <div class="logo">
    <h1><a href="/">lixonic</a></h1>
  </div>
  <p class="intro">
    Hey there, i’m lixon louis. <br/>A hybrid of 
    <a href="https://www.16personalities.com/infj-personality" target="_blank">Advocate</a>  + 
    <a href="https://www.16personalities.com/enfp-personality" target="_blank"> Campaigner </a>personality types.
    
    
    I do web development at  <a href="https://ecommercestudio.in/" target="_blank">ecommercestudio.in</a> for a living.
   . 
    
  
     
   </p>
   <p class="intro">Apart from coding, i'm a big fan of <a href="https://steamcommunity.com/id/Ydyar/" target="_blank">strategy games</a> and finds 
    happiness in making 
     odd videos on <a href="https://www.youtube.com/user/lixonicprincipia/videos" target="_blank">
      youtube</a>.
    </p>  
 </header>
