<header class="site-header">
  <div class="logo">
    <h1><a href="/">lixonic</a></h1>
  </div>
  <p class="intro">
    Hey there, i’m lixon louis. I do web development for a living and currently working as a  shopify developer at
    <a href="https://ecommercestudio.in/" target="_blank">ecommercestudio.in</a> 
    <br/>
    You can find more about me on <a href="https://www.instagram.com/lixonlouis/" target="_blank">Instagram</a>,
    <a href="https://steamcommunity.com/id/Ydyar/" target="_blank">Steam</a>  and 
    <a href="https://github.com/lixonic" target="_blank">Github</a>
    
   </p>
   
 </header>
